### Importar as bibliotecas

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

#Mapeamento do caminho do arquivo
path = 'C:\\Users\\FIC\\Documents\\EdilsonCarl80\\arquivos3\\'
file = 'IceCreamData.csv'

# Atribuir o cabeçalho
iceCream = pd.read_csv(path + file)

# Verificar o cabeçalho
iceCream.head()

   Temperature     Revenue
0    24.566884  534.799028
1    26.005191  625.190122
2    27.790554  660.632289
3    20.595335  487.706960
4    11.503498  316.240194